.the-truck img {
    border-radius: 35px;
    width: 100%;
    opacity: 0.4;
}

.the-truck {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.banner {
    color: white;
    font-size: 75px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 50px;
    align-items: center;
    animation: marquee 1s linear infinite;
    word-spacing: 15px;
}

.contact-form {
    justify-content: center;
    margin-top: 50px;
    height: 500px;
}

.contact-us {
    justify-content: center;
    margin-top: 50px;
    color: orange;
}

.the-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Makes the list inline */
    gap: 95px; /* Spacing between items */
  }

  .the-list li:not(:last-child)::after {
    content: " • "; /* Bullet character */
    color: white    ; /* Bullet color */
    font-weight: bold;
    margin-left: 10px; /* Space between text and bullet */
  }
