.mariscos {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}

.tacos {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}

.drinks {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
}

.disclaimer {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}